<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
  </head>
  <body>

    <% include ../partials/topnav.ejs %>
  
    <section id="project-details"  class="col-md-offset-2 col-md-10">
      <div class="col-md-10">
        <div class="details-body">

          <section>
            <form id='project-form' proj-id='<%= scope.project.id %>'>
              <h1>Project details</h1>
              <p class="name input">
                <span class="label-title">Name</span>
                <input type="text"  id='name-input' value="<%= scope.project.name %>">
              </p>
              <p class="info input">
                <span class="label-title">Info</span>
                <textarea id="description-textarea"><%= scope.project.description %></textarea>
              </p>
              <p class="size input">
                <span class="label-title">Size</span>
                <input type="text"  id='size-input' value="<%= scope.size %> objects" readonly>
              </p>

              <h1>Tag relation</h1>
              <div class="tags select assoc">
                <p class="tags input">
                  <span class="label-title">Assoc tags</span>
                  <select multiple id='assoc-tag'>
                  </select>
                </p>
                <p >
                  <select>
                    <% scope.tags.forEach(function(tag, iter){ %>
                    <option tag-id='<%= tag.id %>'>
                      <%= tag.name %>
                    </option>
                    <% }); %>
                  </select>
                  <button class="btn btn-success add-more assoc-tag" select-id='assoc-tag' type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
                </p>
              </div>
              <div class="tags select stop">
                <p class="tags input">
                  <span class="label-title">Stop tags</span>
                  <select multiple id='stop-tag'>
                  </select>
                </p>
                <p>
                  <select>
                    <% scope.tags.forEach(function(tag, iter){ %>
                    <option tag-id='<%= tag.id %>'>
                      <%= tag.name %>
                    </option>
                    <% }); %>
                  </select>
                  <button class="btn btn-success add-more stop-tag"  select-id='stop-tag' type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
                </p>
              </div>
              <hr>
              <h1>Template</h1>
              <div class="tmpls select ">
                <p class="tmpls input">
                  <span class="label-title">templates</span>
                  <select multiple id='tmpls'>
                  </select>
                </p>
                <p >
                  <select>
                    <% scope.tmpls.forEach(function(tmpl, iter){ %>
                    <option tmpl-id='<%= tmpl.id %>'>
                      <%= tmpl.name %>
                    </option>
                    <% }); %>
                  </select>
                  <button class="btn btn-success add-more tmpls"  select-id='tmpls' type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
                </p>
              </div>

              <h1>Data Base</h1>
              <p class="size input">
                <span class="label-title">host</span>
                <input type="text"  id='host-input' value="" >
              </p>
              <p class="size input">
                <span class="label-title">user</span>
                <input type="text"  id='user-input' value="" >
              </p>
              <p class="size input">
                <span class="label-title">password</span>
                <input type="text"  id='pass-input' value="" >
              </p>
              <p class="size input">
                <span class="label-title">Name</span>
                <input type="text"  id='name-input' value="" >
              </p>
              <div class="main-butt-forth">
                <input class="btn btn-danger" type="button" value="DELETE">
                <input class="btn btn-success" type="submit" value="SAVE">
              </div>
            </form>
          </section>
          <hr>

        </div>
      </div>
    </section>
    <script type="text/javascript">
    $(function(){
      $('#stop-tag').tagsinput({
        allowDuplicates: false,
        itemValue: 'id',
        itemText: 'label'
      });

      $('#assoc-tag').tagsinput({
        allowDuplicates: false,
        itemValue: 'id',
        itemText: 'label'
      });

      $('#tmpls').tagsinput({
        allowDuplicates: false,
        itemValue: 'id',
        itemText: 'label'
      });

      $(".bootstrap-tagsinput input").attr("readonly", true);

      <% scope.tagRelation.forEach(function(tag, iter){ %>
        <% if (tag.positive == 0) { %>
          $('#stop-tag').tagsinput('add', {"id":<%= tag.tagID %>, "label": "<%= tag.name %>"} );
        <% }else{ %>
          $('#assoc-tag').tagsinput('add', {"id":<%= tag.tagID %>, "label": "<%= tag.name %>"} );
        <% } %>
      <% }); %>

      <% scope.tmplRelation.forEach(function(tmpl, iter){ %>
          $('#tmpls').tagsinput('add', {"id":<%= tmpl.id %>, "label": "<%= tmpl.name %>"} );
      <% }); %>
      
      $('div.tags button.add-more.assoc-tag').on('click', (e)=>{
        console.log('click');
        var btn = e.target;
        var neighbour = btn.previousElementSibling;
        var tag_name = neighbour.options[neighbour.selectedIndex].value;
        var tag_id = neighbour.options[neighbour.selectedIndex].getAttribute('tag-id');

        // var select_id = btn.getAttribute('select-id');
        // var select = document.getElementById(select_id);
        // var select_name = '#'+select_id;
        // console.log( {"id":tag_id, "label":tag_name} );
        $('#assoc-tag').tagsinput('add', {"id":tag_id, "label":tag_name} );
      });
      $('div.tags button.add-more.stop-tag').on('click', (e)=>{
        console.log('click');
        var btn = e.target;
        var neighbour = btn.previousElementSibling;
        var tag_name = neighbour.options[neighbour.selectedIndex].value;
        var tag_id = neighbour.options[neighbour.selectedIndex].getAttribute('tag-id');
        $('#stop-tag').tagsinput('add', {"id":tag_id, "label":tag_name} );
      });
      $('div.tmpls button.add-more.tmpls').on('click', (e)=>{
        console.log('click');
        var btn = e.target;
        var neighbour = btn.previousElementSibling;
        var tag_name = neighbour.options[neighbour.selectedIndex].value;
        var tag_id = neighbour.options[neighbour.selectedIndex].getAttribute('tmpl-id');
        $('#tmpls').tagsinput('add', {"id":tag_id, "label":tag_name} );
      });
    });
    </script>
  </body>
</html>